  <!-- Table -->
  <div class="container">

    
    <button class="btn btn-primary mb-4" (click)="openLg(content)">
      Add book
    </button>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Author</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of bookList; let index = index">
            <td>{{book.bookName}}</td>
            <td>{{book.author}}</td>
            <td>{{book.stock}}</td>
            <td>{{book.price}}</td>
            <td>
              <button (click)="deleteBook(book.id)" class="btn btn-danger">Delete Book</button>
            </td>
          </tr>
        </tbody>
      </table>
      
  </div>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Add Book</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <app-addbook (formSubmitted)="closePopup()" ></app-addbook>
    </div>
  </ng-template>