<!-- Add Book Form -->
<div class="container">
    <div class="w-100 d-flex align-items-center justify-content-center" style="min-height: 80vh;">
      <form 
        class="border p-4 col-md-6 rounded shadow-sm w-100" 
        style="border:1px solid #ddd;"
        [formGroup]="addBookForm" 
        >
  
        <div class="mb-3">
          <label for="bookName" class="form-label">Book Name</label>
          <input type="text" class="form-control" id="bookName" formControlName="bookName"
                    placeholder="Enter book name"
                    [class.is-invalid]="f.bookName.invalid && f.bookName.touched">
                <div *ngIf="f.bookName.invalid && f.bookName.touched" class="invalid-feedback">
                    <small *ngIf="f.bookName.errors?.['required']">Book name is required.</small>
                </div>

        </div>
  
        <div class="mb-3">
          <label for="authorName" class="form-label">Author</label>
          <input [class.is-invalid]="f.author.invalid && f.author.touched" type="text" class="form-control" id="authorName" formControlName="author" placeholder="Enter author's name">



      <div *ngIf="f.author.invalid && f.author.touched" class="invalid-feedback">
          <small *ngIf="f.author.errors?.['required']">Author name is required.</small>
      </div>

        </div>
  
        <div class="mb-3">
          <label for="stock" class="form-label">Stock</label>
          <input type="number" [class.is-invalid]="f.stock.invalid && f.stock.touched" class="form-control" id="stock" formControlName="stock" placeholder="Enter stock quantity">
        
         <div *ngIf="f.stock.invalid && f.stock.touched" class="invalid-feedback">
            <small *ngIf="f.stock.errors?.['required']">Stock is required.</small>
            <small *ngIf="f.stock.errors?.['min']">Minimum 1 stock is required.</small>
        </div>

        </div>
  
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" [class.is-invalid]="f.price.invalid && f.price.touched" step="0.01" class="form-control" id="price" formControlName="price" placeholder="Enter price">

          <div *ngIf="f.price.invalid && f.price.touched" class="invalid-feedback">
            <small *ngIf="f.price.errors?.['required']">Price is required.</small>
            <small *ngIf="f.price.errors?.['min']">Minimum price is 0.01</small>
        </div>
        </div>
  
        <div class="mb-3">
          <label for="image" class="form-label">Book Image</label>
          <input type="file" (change)="onFileChange($event)" class="form-control" id="image" >

          <!-- <div *ngIf="f.image.invalid && f.image.touched" class="invalid-feedback">
            <small *ngIf="f.image.errors?.['required']">Image is required.</small>
        </div> -->

        </div>
  
        <div class="d-grid">
          <button [disabled]="addBookForm.invalid"  type="button" (click)="saveBoook()" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
  