<div class="container my-4">
  <!-- Search bar with ngModel for two-way binding -->
 <div class="mb-4">
      <input 
        type="text" 
        class="form-control" 
        placeholder="Search books..." 
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearch()"
        > 
    </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <!-- Loop through filteredBooks array and display each as a card -->
    <div class="col" *ngFor="let item of filteredBooks; let index = index">
      <div class="card h-100 shadow-lg border-light rounded-3">
        <!-- Book Image -->
        <div class="ratio ratio-1x1">
          <img *ngIf="item.imageBase64" style="object-fit: cover;" [src]="'data:image/jpeg;base64,' + item.imageBase64" class="card-img-top object-fit-cover rounded-top" alt="Book Image" />
        </div>

        <div class="card-body">
          <h5 class="card-title text-center text-dark">{{ item.bookName }}</h5>
          <p class="card-text text-muted">
            <strong>Author:</strong> {{ item.author }} <br />
            <strong>Price:</strong> ${{ item.price | number: '1.2-2' }} <br />
            <span *ngIf="item.stock>0" class="badge bg-success">
              {{ item.stock }} Available
            </span>
            <span *ngIf="item.stock==0" class="badge bg-danger">
              Not Available
            </span>
          </p>
          <div *ngIf="item.stock>0" class="d-flex justify-content-between align-items-center">
            <button (click)="orderBook(item.id)" class="btn btn-primary rounded-pill w-100 d-flex align-items-center p-3 shadow-sm hover-shadow-lg">
              <i class="bi bi-cart-plus me-2"></i> Take Book
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
