<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" href="#">AZ Kindle</a>
        <div class="d-flex align-items-center">
            <span class="me-3 text-white">Welcome, <strong>{{auth.getUserName()}}</strong></span>
            <button (click)="logout()"
                class="btn btn-outline-light btn-sm">Logout</button>
        </div>
    </div>
</nav>

<!-- Navigation Links -->
<div class="container my-4" *ngIf="auth.isUser()" >
    <div class="d-flex justify-content-start gap-3">
        <a href="" [routerLinkActive]="['active', 'bg-primary', 'text-white']" routerLink="/user/dashboard" class="btn btn-link text-decoration-none">Dashboard</a>
        <a href="" [routerLinkActive]="['active', 'bg-primary', 'text-white']" routerLink="/user/my-orders" class="btn btn-link text-decoration-none">My Orders</a>
    </div>
</div>

  <!-- Navigation Links -->
  <div class="container my-4" *ngIf="auth.isAdmin()">
    <div class="d-flex justify-content-start gap-3">
      <a href="" [routerLinkActive]="['active', 'bg-primary', 'text-white']" routerLink="/admin/dashboard" class="btn btn-link text-decoration-none">User Orders</a>
      <a href="" [routerLinkActive]="['active', 'bg-primary', 'text-white']" routerLink="/admin/books" class="btn btn-link text-decoration-none">Book Lists</a>
      <a href="" [routerLinkActive]="['active', 'bg-primary', 'text-white']" routerLink="/admin/add-books" class="btn btn-link text-decoration-none">Add Book</a>
    </div>
  </div>

  <router-outlet></router-outlet>