  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Book Name</th>
          <th scope="col">Order Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let order of ordersList; let index = index">
            <td>{{order.userName}}</td>
            <td>{{order.bookName}}</td>
            <td>{{order.dateOfOrder}}</td>
            <td>
              <button (click)="cancelOrder(order.id)" class="btn btn-danger btn-sm">Cancel Order</button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
