  <!-- Add Book Form -->
  <div class="container my-5">
    <div class="w-100 d-flex align-items-center justify-content-center" style="min-height: 80vh;">
      <form class="border p-4 col-md-6 rounded" style="border:1px solid #929292;">
          <div class="row g-0">
              <div class="col text-center p-3 mb-3 bg-light rounded-top">
                  <span class="fs-3 text-primary">Add Book</span>
              </div>
          </div>
    
          <div class="row mb-3">
              <div class="col">
                  <label for="bookName" class="form-label">Book Name</label>
                  <input type="text" class="form-control" id="bookName" placeholder="Enter book name">
              </div>
          </div>
          <div class="row mb-3">
              <div class="col">
                  <label for="authorName" class="form-label">Author</label>
                  <input type="text" class="form-control" id="authorName" placeholder="Enter author's name">
              </div>
          </div>
          <div class="row mb-3">
              <div class="col">
                  <label for="stock" class="form-label">Stock</label>
                  <input type="number" class="form-control" id="stock" placeholder="Enter stock quantity">
              </div>
          </div>
          <div class="row mb-3">
              <div class="col">
                  <label for="price" class="form-label">Price</label>
                  <input type="number" step="0.01" class="form-control" id="price" placeholder="Enter price">
              </div>
          </div>
          <div class="row">
              <div class="col-6 offset-3">
                  <div class="d-grid">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </div>
          </div>
      </form>
    </div>
  </div>
